@page
@using Covid19Screening.Core
@model Covid19Screening.Web.Pages.AddExaminationModel
@{
    ViewData["Title"] = "Neue Testung";
}

<h1>Neue Testung</h1>

<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="SelectedCampaignId" class="control-label"></label>
            <select asp-for"SelectedCampaignId" class="form-control" asp-items="Model.Campaigns" onchange="this.form.submit();"></select>
            <span asp-validation-for="SelectedCampaignId" class="text-danger"></span>
        </div>
        <div class="form-group col-md-6">
            <label asp-for="SelectedTestCenterId" class="control-label"></label>
            <select asp-for"SelectedTestCenterId" class="form-control" asp-items="Model.TestCenters"></select>
            <span asp-validation-for="SelectedTestCenterId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="SelectedCampaignDate" class="control-label"></label>
            <select asp-for"SelectedCampaignDate" class="form-control" asp-items="Model.CampaignDates"></select>
            <span asp-validation-for="SelectedCampaignDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="Timespans" class="control-label"></label>
            <span asp-validation-for="Timespans" class="text-danger"></span>
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>
                            Zeitpunkt
                        </th>
                        <th>
                            Status
                        </th>
                        <th>
                            Freie Plätze
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @*@foreach (var item in Model.Courses)
                    {
                        <tr>
                            <td>
                                <input type="radio" value="">
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Title)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Credits)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Department.Name)
                            </td>
                        </tr>
                    }*@
                </tbody>
            </table>
        </div>
    </div>

    <input type="submit" class="btn btn-primary" value="Für Testung anmelden" />
    <a class="btn btn-secondary" asp-page="/Overview">Abbrechen</a>
</form>
