@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>COVID-19 Screening</h1>
<br />

<div class="row">
    <div class="form-group col-md-9">
        <a class="btn btn-secondary" asp-page="/Security/Register">Registrieren</a>
        <a class="btn btn-primary" asp-page="/Security/Login">Anmelden</a>
    </div>
</div>
